.users {
    padding: 1.5rem;
    background-color: #508C9B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EEEEEE;
    overflow: hidden;
}

.users h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #EEEEEE;
    font-weight: 600;
}

.table-container {
    height: calc(100vh - 10rem); 
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #508C9B;
}

thead {
    background-color: #201E43;
    position: sticky;
    top: 0;
    z-index: 1;
}

th, td {
    padding: 1rem;
    text-align: left;
}

th {
    color: #EEEEEE;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #508C9B;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #EEEEEE;
}

tr:hover td {
    background-color: #134B70;
    cursor: pointer;
    transition: background 0.3s;
}

.no-users {
    text-align: center;
    font-size: 1.2rem;
    color: #EEEEEE;
    margin-top: 1rem;
}
